.displayContainer {
  background-color: gray;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  background: rgba(255, 255, 255, 0.345);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 24px 32px;
}

.picture {
  width: 20%;
  justify-content: center;
  align-items: center;
}

.data {
  flex-wrap: wrap;
  border: solid 2px black;
}
